<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">

      <p><%= @listing.drink_category %></p>
      <p><%= @listing.min_price %></p>
      <%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill %>

      <%= simple_form_for [ @listing, @bidding ], remote: true do |f| %>
        <%= f.input :price, as: :integer %>
        <%= f.input :incentive, as: :text %>
        <%= f.hidden_field :confirmation, default: :false%>

        <%= f.submit "Add Bid", class: "btn" %>
      <% end %>
    </div>
  </div>
</div>
