<div class="container dash-container">
  <h2 class="text-center p-4">Dashboard</h2>

  <div class="row main-dash bg-danger text-light">
    <div class="col-4"> Your listings </div>
    <div class="col-4"> Bidding status </div>
  </div>

  <% current_user.listings.each do |listing| %>

    <div class="row main-dash">
      <div class="col-4">
        <p> <%=listing.name%> </p>
      </div>
      <div class="col-4">
        <p> Ongoing </p>
      </div>

      <div class="col-4">
        <% auction = @auctions.find_by(listing_id: listing.id) %>
        <%= link_to 'View', auction_path(auction), class: "btn btn-info"%>
        <div class="btn btn-danger"> Accept </div>
      </div>
    </div>

  <% end %>

  <h3 class="text-center p-3"> Biddings </h3>
    <% grouped = current_user.biddings.group_by do |bid| %>
      <% bid.auction_id %>
    <% end %>

    <div class="bid-cards">
    <% grouped.each do |bid| %>
      <div class="bid-info">
        <% auction_recent_bid = bid[1].last %>
          <h5>Description: <%= auction_recent_bid.auction.listing.description %></h5>
          <p>Bid Price: £<%= auction_recent_bid.price %></p>
          <p>Perks: <%= auction_recent_bid.incentive %></p>
          <p>Brand Name: <%= auction_recent_bid.user.name %></p>
          <p>Current Price: £<%= @auctions.find(auction_recent_bid.auction_id).current_price %> </p>
      </div>
    <% end %>
    </div>
</div>
</div>

